<a class="button" href="/admin/create">Create Split</a>
<div class="card-grid">
  <% for( let split of splits ) { %>
  <div class="card" style="flex-shrink: 0; min-width: 40rem; flex: 0">
    <div class="card-header"><%- split.name %>@<%- publicDomain %></div>
    <div class="card-body">
      <ul style="margin-bottom: 0">
        <% for( let {address, weight} of split.payouts ) { %>
        <li style="margin-bottom: 0"><%- address %> <%- weight %></li>
        <% } %>
      </ul>
    </div>
    <div class="card-footer h-stack">
      <a class="button button-outline" href="/admin/split/<%- split.name %>"
        >Edit</a
      >
      <a
        class="button button-outline button-red"
        href="/admin/split/<%- split.name %>/delete"
      >
        Delete
      </a>
    </div>
  </div>
  <% } %>
</div>
