<a class="button" href="/admin/create">Create Split</a>
<span>Root API Key: <code><%- rootApiKey %></code></span>

<div class="card-grid">
  <% for( let split of splits ) { %>
  <div class="card">
    <div class="card-header">
      <a href="/admin/split/<%- split.id %>"><%- split.address %></a>
    </div>
    <div class="card-body">
      <%- include("../components/split-chart", { split }) %> <%- include("../components/split-simple-table", { split,
      showFee: false }) %>
    </div>
    <div class="card-footer h-stack">
      <a class="button button-outline" href="/admin/split/<%- split.id %>">Details</a>
      <a class="button button-outline button-red" href="/admin/split/<%- split.id %>/delete"> Delete </a>
    </div>
  </div>
  <% } %>
</div>
