<div class="card-grid">
  <% for( let split of splits ) { %>
  <div class="card" style="flex-shrink: 0; min-width: 40rem; flex: 0">
    <div class="card-header">
      <%= split.title %> <small>(<%= split.id %>)</small>
    </div>
    <div class="card-body">
      <ul style="margin-bottom: 0">
        <% for( let [address, percent] of split.payouts ) { %>
        <li style="margin-bottom: 0"><%= address %> <%= percent %>%</li>
        <% } %>
      </ul>
    </div>
    <div class="card-footer h-stack">
      <a class="button button-outline" href="/admin/split/<%= split.id %>"
        >View</a
      >
      <a
        class="button button-outline button-red"
        href="/admin/split/<%= split.id %>/delete"
      >
        Delete
      </a>
    </div>
  </div>
  <% } %>
</div>
