<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/milligram@1/dist/milligram.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />

    <!-- HTML Meta Tags -->
    <title><%- ogTitle %></title>
    <meta name="description" content="<%- ogDescription %>" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="<%- ogUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- ogTitle %>" />
    <meta property="og:description" content="<%- ogDescription %>" />
    <meta property="og:image" content="<%- ogImage %>" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="<%- publicDomain %>" />
    <meta property="twitter:url" content="<%- ogUrl %>" />
    <meta name="twitter:title" content="<%- ogTitle %>" />
    <meta name="twitter:description" content="<%- ogDescription %>" />
    <meta name="twitter:image" content="<%- ogImage %>" />
  </head>
  <body>
    <main class="container">
      <header class="h-stack" style="margin-bottom: 1rem">
        <% if (path.includes('/admin')) { %>
        <a href="/admin" class="h-stack">
          <img src="/icon.svg" height="48" />
          <p style="margin: 0; font-size: 3rem">LN Address Splitter</p>
        </a>
        <% } %>
        <span style="flex: 1"></span>
      </header>
      <%- body %>
    </main>
  </body>
</html>
