<h1><%- split.address %></h1>

<form action="/split/<%- split.name %>/invoice" method="get">
  <label for="address">Create invoice</label>
  <div class="h-stack">
    <input
      type="number"
      name="amount"
      min="<%- minSendable %>"
      max="<%- maxSendable %>"
      step="1"
      placeholder="amount"
      required
      class="mb-0"
    />
    <button class="button mb-0">Create invoice</button>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Percent</th>
      <th>Estimated Fee</th>
    </tr>
  </thead>
  <tbody>
    <% split.targets.forEach((target) => { %>
    <tr>
      <td>
        <% if (target.type === 'nostr') { %>
        <a
          href="https://nostrapp.link/?#<%- target.link.replace('nostr:', '') %>"
          target="_blank"
        >
          <img
            src="/nostr-icon.png"
            style="width: 2rem; vertical-align: middle"
          />
          <%- target.displayName %>
        </a>
        <% } else if (target.type==='lnurlp') { %>
        <a href="<%- target.link %>"><%- target.displayName %></a>
        <% } %>
      </td>
      <td><%- ((target.weight/totalWeight)*100).toFixed(2) %>%</td>
      <td><%- split.targetFees[target.id].estimate/1000 %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<div class="h-stack flex-wrap">
  <div style="flex: 1 0">
    <h3>LNURL</h3>
    <a href="<%- split.lnurlp %>" target="_blank">
      <img
        src="/split/<%- split.id %>/lnurl.svg"
        alt="lnurlp qr code"
        style="width: 100%; max-width: 3in; min-width: 2in"
      />
    </a>
  </div>
  <div style="flex: 1 0">
    <h3>LN Address</h3>
    <a href="lightning:<%- split.address %>" target="_blank">
      <img
        src="/split/<%- split.id %>/address.svg"
        alt="address qr code"
        style="width: 100%; max-width: 3in; min-width: 2in"
      />
    </a>
  </div>
  <% if (split.enableNostr) { %>
  <div style="flex: 1 0">
    <h3>Nostr</h3>
    <a href="https://nostrapp.link/?#<%- split.nprofile %>" target="_blank">
      <img
        src="/split/<%- split.id %>/nostr.svg"
        alt="nostr qr code"
        style="width: 100%; max-width: 3in; min-width: 2in"
      />
    </a>
  </div>
  <% } %>
</div>

<table style="white-space: nowrap">
  <thead>
    <tr>
      <th>Id Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>LN Address</td>
      <td><code><%- split.address %></code></td>
    </tr>
    <tr>
      <td>LNURL</td>
      <td><code><%- split.lnurlp %></code></td>
    </tr>
    <% if (split.enableNostr) { %>
    <tr>
      <td>Nostr</td>
      <td><code><%- split.nprofile %></code></td>
    </tr>
    <% } %>
  </tbody>
</table>
