<div class="h-stack">
  <h2><%= split.title %> <small>(<%= split.id %>)</small></h2>
</div>

<h3>Payout</h3>
<ul style="margin-bottom: 0">
  <% for( let [address, percent] of split.payouts ) { %>
  <li style="margin-bottom: 0"><%= address %> <%= percent %>%</li>
  <% } %>
</ul>

<div>
  <h3>LNURL</h3>
  <code><%= lnurlp %></code>
  <div class="button button-outline">Copy</div>
  <br />
  <a href="<%= lnurlp %>" target="_blank">
    <img
      src="<%= lnurlpQrCode %>"
      alt="lnurlp qr code"
      style="width: 100%; max-width: 4in"
    />
  </a>
</div>
<div>
  <h3>LN Address</h3>
  <code><%= address %></code>
  <div class="button button-outline">Copy</div>
  <br />
  <a href="lightning:<%= address %>" target="_blank">
    <img
      src="<%= addressQrCode %>"
      alt="address qr code"
      style="width: 100%; max-width: 4in"
    />
  </a>
</div>
