<h1><%- split.address %></h1>

<% if (split.targets.length > 1) { %> <%- include('../components/split-chart', {
split }) %> <% } %> <%- include('../components/split-simple-table', { split })
%>

<div class="h-stack flex-wrap">
  <div style="flex: 1 0">
    <h3>LNURL</h3>
    <%- include('../components/split-lnurl-qr', { split }) %>
  </div>
  <div style="flex: 1 0">
    <h3>LN Address</h3>
    <%- include('../components/split-ln-address-qr', { split }) %>
  </div>
  <% if (split.enableNostr) { %>
  <div style="flex: 1 0">
    <h3>Nostr</h3>
    <%- include('../components/split-nostr-qr', { split }) %>
  </div>
  <% } %>
</div>

<form action="/split/<%- split.name %>/invoice" method="get">
  <label for="address">Manually create invoice</label>
  <input
    type="number"
    name="amount"
    min="<%- minSendable %>"
    max="<%- maxSendable %>"
    step="1"
    placeholder="amount"
    required
    value="<%- minSendable+5 %>"
  />
  <textarea
    type="text"
    name="comment"
    maxlength="200"
    placeholder="Comment"
  ></textarea>
  <button class="button mb-0">Create invoice</button>
</form>

<table style="white-space: nowrap">
  <thead>
    <tr>
      <th>Id Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>LN Address</td>
      <td><code><%- split.address %></code></td>
    </tr>
    <tr>
      <td>LNURL</td>
      <td><code><%- split.lnurlp %></code></td>
    </tr>
    <% if (split.enableNostr) { %>
    <tr>
      <td>Nostr</td>
      <td><code><%- split.nprofile %></code></td>
    </tr>
    <% } %>
  </tbody>
</table>
