<h1><%- splitAddress %></h1>

<form action="/split/<%- split.name %>/invoice" method="get">
  <label for="address">Create invoice</label>
  <div class="h-stack">
    <input
      type="number"
      name="amount"
      min="<%- split.payouts.length*2 %>"
      step="1"
      placeholder="amount"
      required
    />
    <button class="button">Create invoice</button>
  </div>
</form>

<div class="h-stack flex-wrap">
  <div style="flex: 1 0">
    <h3>LNURL</h3>
    <code><%- splitLnurlp %></code>
    <br />
    <a href="<%- splitLnurlp %>" target="_blank">
      <img
        src="/qr?data=<%- splitLnurlp %>"
        alt="lnurlp qr code"
        style="width: 100%; max-width: 4in"
      />
    </a>
  </div>
  <div style="flex: 1 0">
    <h3>LN Address</h3>
    <code><%- splitAddress %></code>
    <br />
    <a href="lightning:<%- splitAddress %>" target="_blank">
      <img
        src="/qr?data=<%- splitAddress %>"
        alt="address qr code"
        style="width: 100%; max-width: 4in"
      />
    </a>
  </div>
</div>
