<h1><%- split.address %></h1>

<input type="text" value="<%- invoice %>" readonly />
<a href="lightning:<%- invoice %>">
  <img src="/qr/lightning:<%- invoice %>" alt="invoice qrcode" />
</a>

<br />
<a class="button" href="lightning:<%- invoice %>">Open in app</a>
<a class="button button-outline" href="./">Done</a>
