<%- include('../../components/split/breadcrumbs', { split, page: 'Edit' }) %><%-include('../../components/split/nav', {split,
  splitHref, path})%>

<form action="/admin/split/<%- split.id %>/edit" method="post">
  <div class="h-stack">
    <div style="flex: 1">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required value="<%- split.name %>" />
    </div>
    <div style="flex: 1">
      <label for="domain">Domain</label>
      <input type="text" id="domain" name="domain" required value="<%- split.domain %>" />
    </div>
  </div>
  <div>
    <input <%- split.enableNostrZaps?'checked':'' %> type="checkbox" id="enableNostrZaps" name="enableNostrZaps" />
    <label class="label-inline" for="enableNostrZaps">Enable nostr Zaps</label>
  </div>
  <div>
    <input <%- split.enableNostrProfile?'checked':'' %> type="checkbox" id="enableNostrProfile"
    name="enableNostrProfile" />
    <label class="label-inline" for="enableNostrProfile">Enable nostr Profile</label>
  </div>
  <button class="button mb-0" type="submit"">Save</button>
  <button class="button button-outline mb-0" onClick="history.back()">Cancel</button>
</form>

<h3>Details</h3>
<details>
  <summary>Enable nostr zaps</summary>
  "Enable nostr zaps" will set <code>"allowsNostr": true</code> on the LNURL endpoint. This will allow anyone to send a "zap" to the endpoint and have it show on nostr
</details>
<details>
  <summary>Enable nostr profile</summary>
  "Enable nostr profile" will generate a new nsec and npub for the split and publish a kind 0 (metadata) event to nostr with the split details and lightning address
</details>
