<h1><%= splitAddress %></h1>
<a href="/split/<%= split.id %>" class="button">View public page</a>
<a href="/split/<%= split.id %>/invoice?amount=50" class="button button-outline"
  >Create invoice</a
>

<h3>Payout</h3>
<ul style="margin-bottom: 0">
  <% for( let [address, weight] of split.payouts ) { %>
  <li style="margin-bottom: 0"><%= address %> <%= weight %></li>
  <a
    href="<%= path %>/remove/<%= address %>"
    class="button button-outline button-red"
    >Remove</a
  >
  <% } %>
</ul>
<a href="/admin/split/<%= split.id %>/add" class="button button-outline"
  >Add address</a
>

<div>
  <h3>LNURL</h3>
  <code><%= splitLnurlp %></code>
  <!-- <div class="button button-outline">Copy</div> -->
  <br />
  <a href="<%= splitLnurlp %>" target="_blank">
    <img
      src="/qr?data=<%= splitLnurlp %>"
      alt="lnurlp qr code"
      style="width: 100%; max-width: 4in"
    />
  </a>
</div>
<div>
  <h3>LN Address</h3>
  <code><%= splitAddress %></code>
  <!-- <div class="button button-outline">Copy</div> -->
  <br />
  <a href="lightning:<%= splitAddress %>" target="_blank">
    <img
      src="/qr?data=<%= splitAddress %>"
      alt="address qr code"
      style="width: 100%; max-width: 4in"
    />
  </a>
</div>
