<h1><%- splitAddress %></h1>
<a href="/split/<%- split.name %>" class="button">View public page</a>
<a
  class="button button-outline button-red"
  href="/admin/split/<%- split.name %>/delete"
>
  Delete split
</a>

<h3>Payout</h3>

<table style="white-space: nowrap">
  <thead>
    <tr>
      <th>Address</th>
      <th>Weight</th>
      <th>Percent</th>
      <th>Average Fee</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% split.payouts.forEach(({address, weight}) => { %>
    <tr>
      <td><%- address %></td>
      <td><%- weight %></td>
      <td><%- ((weight/totalWeight)*100).toFixed(2) %>%</td>
      <td>
        <%- addressAvgFee[address]?addressAvgFee[address]/1000:`unknown (1 sat)`
        %>
      </td>
      <td>
        <a
          href="<%- path %>/edit/<%- address %>"
          class="button button-outline mb-0"
          >Edit</a
        >
        <a
          href="<%- path %>/remove/<%- address %>"
          class="button button-outline button-red mb-0"
          >Remove</a
        >
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<a href="/admin/split/<%- split.name %>/add" class="button button-outline"
  >Add address</a
>

<div class="h-stack flex-wrap">
  <div style="flex: 1 0">
    <h3>LNURL</h3>
    <code><%- splitLnurlp %></code>
    <br />
    <a href="<%- splitLnurlp %>" target="_blank">
      <img
        src="/split/<%- split.name %>/lnurl.svg"
        alt="lnurlp qr code"
        style="width: 100%; max-width: 4in"
      />
    </a>
  </div>
  <div style="flex: 1 0">
    <h3>LN Address</h3>
    <code><%- splitAddress %></code>
    <br />
    <a href="lightning:<%- splitAddress %>" target="_blank">
      <img
        src="/split/<%- split.name %>/address.svg"
        alt="address qr code"
        style="width: 100%; max-width: 4in"
      />
    </a>
  </div>
</div>

<% if (failedPayouts.length>0) { %>
<h3>Failed payouts</h3>

<table style="white-space: nowrap">
  <thead>
    <tr>
      <th>Address</th>
      <th>Amount</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    <% failedPayouts.forEach((payout) => { %>
    <tr>
      <td><%- payout.address %></td>
      <td><%- payout.amount/1000 %> sats</td>
      <td><%- payout.failed %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } %>

<details>
  <summary>Debug</summary>
  <pre><%- JSON.stringify(split, null, 2) %></pre>
</details>
