<h1><%- split.address %></h1>
<a href="/split/<%- split.name %>" class="button">View public page</a>
<a class="button button-outline" href="/admin/split/<%- split.id %>/edit">
  Edit
</a>
<a
  class="button button-outline button-red"
  href="/admin/split/<%- split.id %>/delete"
>
  Delete split
</a>

<h3>Payout</h3>

<table style="white-space: nowrap">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>ID</th>
      <th>Weight</th>
      <th>Percent</th>
      <th>Average Fee</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% split.targets.forEach((target) => { %>
    <tr>
      <td><%- target.type %></td>
      <td>
        <% if (target.type === 'nostr') { %>
        <a
          href="https://nostrapp.link/?#<%- target.link.replace('nostr:', '') %>"
          target="_blank"
        >
          <img
            src="/nostr-icon.png"
            style="width: 2rem; vertical-align: middle"
          />
          <%- target.displayName %>
        </a>
        <% } else if (target.type==='lnurlp') { %>
        <a href="<%- target.link %>"><%- target.displayName %></a>
        <% } %>
      </td>
      <td><abbr title="<%- target.input %>">ID</abbr></td>
      <td><%- target.weight %></td>
      <td><%- ((target.weight/totalWeight)*100).toFixed(2) %>%</td>
      <td>
        <%-
        split.targetFees[target.id].average?split.targetFees[target.id].average/1000:`unknown
        (1 sat)` %>
      </td>
      <td>
        <a
          href="<%- path %>/edit/<%- target.id %>"
          class="button button-outline mb-0"
          >Edit</a
        >
        <a
          href="<%- path %>/remove/<%- target.id %>"
          class="button button-outline button-red mb-0"
          >Remove</a
        >
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<a href="/admin/split/<%- split.id %>/add" class="button button-outline"
  >Add payout</a
>

<div class="h-stack flex-wrap">
  <div style="flex: 1 0">
    <h3>LNURL</h3>
    <a href="<%- split.lnurlp %>" target="_blank">
      <img
        src="/split/<%- split.id %>/lnurl.svg"
        alt="lnurlp qr code"
        style="width: 100%; max-width: 3in"
      />
    </a>
  </div>
  <div style="flex: 1 0">
    <h3>LN Address</h3>
    <a href="lightning:<%- split.address %>" target="_blank">
      <img
        src="/split/<%- split.id %>/address.svg"
        alt="address qr code"
        style="width: 100%; max-width: 3in"
      />
    </a>
  </div>
  <% if (split.enableNostr) { %>
  <div style="flex: 1 0">
    <h3>Nostr</h3>
    <a href="https://nostrapp.link/?#<%- split.nprofile %>" target="_blank">
      <img
        src="/split/<%- split.id %>/nostr.svg"
        alt="nostr qr code"
        style="width: 100%; max-width: 3in"
      />
    </a>
  </div>
  <% } %>
</div>

<% if (failedPayouts.length>0) { %>
<h3>Failed payouts</h3>

<table style="white-space: nowrap">
  <thead>
    <tr>
      <th>Address</th>
      <th>Amount</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    <% failedPayouts.forEach((payout) => { %>
    <tr>
      <td><%- payout.address %></td>
      <td><%- payout.amount/1000 %> sats</td>
      <td><%- payout.failed %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<form action="/admin/split/<%- split.id %>/retry-failed" method="post">
  <button class="button button-outline" type="submit">Retry All</button>
</form>
<% } %>

<table style="white-space: nowrap">
  <thead>
    <tr>
      <th>Id Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>LN Address</td>
      <td><code><%- split.address %></code></td>
    </tr>
    <tr>
      <td>LNURL</td>
      <td><code><%- split.lnurlp %></code></td>
    </tr>
    <tr>
      <td>API Key</td>
      <td><code><%- split.apiKey %></code></td>
    </tr>
    <% if (split.enableNostr) { %>
    <tr>
      <td>Nostr npub</td>
      <td><code><%- split.npub %></code></td>
    </tr>
    <tr>
      <td>Nostr nsec</td>
      <td><code><%- split.nsec %></code></td>
    </tr>
    <% } %>
  </tbody>
</table>
