<%- include('../../components/split/breadcrumbs', { split, page: 'Pending' }) %><%-include('../../components/split/nav',
{split, splitHref, path})%>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Identifier</th>
      <th>Comment</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% for( let incoming of split.incomingPending ) { %>
    <tr>
      <td><%- incoming.id %></td>
      <td><%-include('../../components/identifier', { identifier: incoming.identifier })%></td>
      <td><%- incoming.comment %></td>
      <td><%- msatsToSats(incoming.amount, true) %> sats</td>
      <td><%- incoming.status %></td>
    </tr>
    <% } %>
  </tbody>
</table>
