<form action="/admin/split/<%= split.id %>/remove/<%= address %>" method="post">
  <div class="card" style="max-width: 6in">
    <div class="card-header">Remove <%= address %> from split?</div>
    <div class="card-body">
      Are you sure you want to remove <%= address %> from <%= split.id %>@<%=
      publicDomain %>?
    </div>
    <div class="card-footer h-stack" style="flex-direction: row-reverse">
      <button class="button button-red" type="submit">Remove</button>
      <a class="button button-clear" href="/admin/split/<%= split.id %>"
        >Cancel</a
      >
    </div>
  </div>
</form>
