<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

<%- include('../../../components/target/breadcrumbs', { split, target, page: 'Edit' }) %>
<%-include('../../../components/target/nav', { targetHref, path })%>

<form action="<%- path %>" method="post">
  <% if (target.type === 'lnurlp') { %>
  <!-- LNURL -->
  <label for="input">Target LNURLp or LN Address</label>
  <input id="input" name="input" placeholder="user@domain.com or lnurlp://..." value="<%- target.input %>" />
  <% } %> <% if (target.type === 'nostr') { %>
  <!-- NOSTR -->
  <label for="input">Target npub</label>
  <input id="input" name="input" placeholder="npub1..." value="<%- target.input %>" />
  <% } %>

  <div class="h-stack">
    <div style="flex: 3"><%- include('../../../components/target-percent-inputs', { value: target.weight }) %></div>
    <div style="flex: 1">
      <label for="payoutThreshold">Threshold</label>
      <input
        type="number"
        name="payoutThreshold"
        id="payoutThreshold"
        min="0"
        max="99"
        size="3"
        step="1"
        required
        value="<%- target.payoutThreshold %>"
      />
    </div>
  </div>
  <div>
    <input <%- target.fixed?'checked':'' %> type="checkbox" id="fixed" name="fixed" />
    <label class="label-inline" for="fixed">Fixed</label>
  </div>
  <div>
    <input <%- target.forwardComment?'checked':'' %> type="checkbox" id="forwardComment" name="forwardComment" />
    <label class="label-inline" for="forwardComment">Forward Comments</label>
  </div>
  <button class="button mb-0" type="submit"">Save</button>
  <button class="button button-outline mb-0" onClick="history.back()">Cancel</button>
</form>

<h3>Scanner</h3>
<div id="reader" style="max-height: 80vh"></div>

<script type="text/javascript">
  let html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: { width: 250, height: 250 } }, false);

  html5QrcodeScanner.render((decodedText) => {
    console.log(`Scanned ${decodedText}`);
    document.querySelector("input[name=input]").value = decodedText;
  });
</script>

<h3>Details</h3>
<details>
  <summary>Forward comments</summary>
  If this is enabled, any comments along with any identity information (ln address or npub) will be passed on to the
  target
</details>
<details>
  <summary>Fixed</summary>
  Enabled - This target will get a fixed percent of the total payment
  <br />
  Disabled - This target will get X percent of the remaining amount
</details>
<details>
  <summary>Threshold</summary>
  The amount to fee ratio must be greater than X before the payment is sent (<code
    >100 - (fee / amount) * 100 >= Threshold</code
  >). This is used to prevent the fee taking up the majority of the payout
</details>
