<h1><%- split.address %></h1>

<form action="/admin/split/<%- split.id %>/edit/<%- target.id %>" method="post">
  <label for="input">Target Address or npub</label>
  <div class="h-stack flex-wrap">
    <input
      class="mb-0"
      id="input"
      name="input"
      style="flex: 2; min-width: 2in"
      placeholder="user@domain.com, npub1..."
      value="<%- target.npub || target.address %>"
    />
    <input
      class="mb-0"
      type="number"
      name="weight"
      min="1"
      size="3"
      step="1"
      placeholder="weight"
      style="flex: 1; min-width: 1in"
      required
      value="<%- target.weight %>"
    />
    <button class="button button-outline mb-0">Save</button>
  </div>
</form>
