<%-include('../../../components/target/breadcrumbs', { split, target, page: 'History' })%>
<%-include('../../../components/target/nav', { targetHref, path })%>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Identity</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% for( let payout of target.outgoingComplete ) { %>
    <tr>
      <td><%- msatsToSats(payout.amount, true) %> sats</td>
      <td><%- payout.identity %></td>
      <td><%- payout.comment %></td>
    </tr>
    <% } %>
  </tbody>
</table>
