<a class="button <%- path === splitHref?'':'button-outline' %>" href="<%- splitHref %>">Details</a>
<a class="button <%- path === splitHref+'/edit'?'':'button-outline' %>" href="<%- splitHref %>/edit">Edit</a>
<a class="button <%- path === splitHref+'/add'?'':'button-outline' %>" href="<%- splitHref %>/add">Add</a>
<a class="button <%- path === splitHref+'/pending'?'':'button-outline' %>" href="<%- splitHref %>/pending"> Pending </a>
<a class="button <%- path === splitHref+'/history'?'':'button-outline' %>" href="<%- splitHref %>/history"> History </a>
